<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!--
/**
    Santiago Sánchez Cárdenas
    Sergio Gabriel Nieto Meneses
    Mauricio Andres Valderrama Acosta
 */ -->
  
<mapper namespace="com.RestauranteMexicano.JavaMappers.ClienteMapper">

    <select id="consultarCliente" parameterType="int" resultMap="ClienteResult">
        SELECT nombre, ID, Licencia, Direccion
        FROM T_CLIENTES 
        WHERE id = #{id}
    </select>

    <select id="consultarClientes" resultMap="ClienteResult">
        SELECT nombre, ID, Licencia, Direccion
        FROM T_CLIENTES 
    </select>
<insert id="insertarProducto" parameterType="Producto">
        INSERT INTO T_CLIENTES (nombre, ID, Licencia, Direccion)
        VALUES (#{nombre}, #{id}, #{Licencia}, #{Direccion})
</insert>

<resultMap type='Cliente' id='ClienteResult'>
    <id property='id' column='id'/>
    <result property='nombre' column='nombre'/>
    <result property='Licencia' column='Licencia'/>   
    <result property='Direccion' column='Direccion'/>  
</resultMap>
    
    
</mapper>