<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!--
 Diseño y arquitectura de software
 @author
     Santiago Sánchez Cárdenas - 0000271976
     Sergio Gabriel Nieto Meneses - 0000246107
     Mauricio Andres Valderrama Acosta - 0000251802

-->
  
<mapper namespace="com.RestauranteMexicano.JavaMappers.ProductoMapper">

    <select id="consultarProducto" parameterType="int" resultMap="ProductoResult">
        SELECT id, nombre, descripcion, Cantidad, precio, Ingredientes, TieneDescuento
        FROM T_PRODUCTOS 
        WHERE id = #{id}
    </select>

    <select id="consultarProductos" resultMap="ProductoResult">
        SELECT id, nombre, descripcion, Cantidad, precio, Ingredientes, TieneDescuento
        FROM T_PRODUCTOS
    </select>

    <select id="consultarProductosPorPedido" parameterType="int" resultMap="ProductoResult">
        SELECT p.* FROM T_PRODUCTOS p
        INNER JOIN T_DETALLE_PEDIDOS dp ON p.Id = dp.ProductoID
        WHERE dp.PedidoID = #{idPedido}
    </select>
    
    <insert id="insertarProducto" parameterType="Producto">
            INSERT INTO T_PRODUCTOS (id, nombre, descripcion, Cantidad, precio, Ingredientes, TieneDescuento)
            VALUES (#{id}, #{nombre}, #{descripcion}, #{Cantidad}, #{precio}, #{Ingredientes}, #{TieneDescuento})
    </insert>

    <resultMap type='Producto' id='ProductoResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='descripcion' column='descripcion'/>   
        <result property='Cantidad' column='Cantidad'/>  
        <result property='precio' column='precio'/> 
        <result property='Ingredientes' column='Ingredientes'/>
        <result property='TieneDescuento' column='TieneDescuento'/>
    </resultMap>
    
    
</mapper>