@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 50px;
  box-sizing: border-box;
  background: #AACBA5;
}

h2,
h1 {
  text-align: center;
  color: #406B3A;
}

/* CARRITO */
.tabla-calculo {
  display: flex;
  justify-content: center;
}

.tabla {
  width: 80%;
  table-layout: fixed;
  border-collapse: collapse;
  color: white;
  margin-bottom: 2rem;
  empty-cells: hide;
  border-radius: 10px;
}

.titulo-tabla {
  font-size: 1.5rem;
  padding: .5rem;
}

.border-top-left {
  border-top-left-radius: 10px;
}

.border-top-right {
  border-top-right-radius: 10px;
}

.border-bottom-right {
  border-bottom-right-radius: 10px;
}

.border-bottom-left {
  border-bottom-left-radius: 10px;
}

th {
  font-size: 1rem;
  background: #406B3A;
}

th,
td,
tr {
  border: var(--border-table);
  text-align: center;
  padding: .4rem 0;
}

td {
  background: #DFEEDD;
  color: black;
}

.precio-tabla::before {
  content: 'COP$';
  padding-right: 0.4rem;
}

.button {
  margin: 0 .4rem;
  border: var(--border-table);
  background: #3E7737;
  color: white;
  cursor: pointer;

}

.negrita {
  font-weight: bold;
}

.none {
  background: transparent;
  border: none;
}


/*PRODUCTOS*/
.cartola {
  height: 300px;
  width: 230px;
  border-radius: 0.35rem;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 0.1s;
  overflow: hidden;
  margin: 1rem;
}

.cartola:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
  box-shadow: 0 0 2rem #416A3B;
}

/* Imagen */
.contenedor-img {
  border-radius-top-left: .35rem;
  height: 127px;
  overflow: hidden;
}

img {
  width: 100%;
}

/* Nombre y descripción del producto */
.div-info {
  flex: 1;
  border-bottom: var(--border);
  overflow: hidden;
}

.nombre-prod {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.2rem 0;
}

.separador {
  width: 80%;
  margin: .2rem auto;
  border: none;
  border-top: var(--border);
}

.descripcion-prod {
  margin: 0;
  font-size: 0.9rem;
  padding: 0.2rem 1rem;
  overflow: hidden;
  opacity: .7;
}

/* Precio y Boton Carrito */
.div-precio-boton {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .5rem;
}

.precio {
  margin: 0 .5em;
}

.precio::before {
  content: 'COP$';
  font-size: 1rem;
  padding-right: 0.3rem;
}

.boton {
  background: #84C77B;
  cursor: pointer;
  border: var(--border);
  font-size: 1rem;
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 3px hsl(0, 100%, 0%, 0.15);
}

.boton:hover {
  color: white;
  background: #507E4A;
  box-shadow: 1px 1px 3px hsl(0, 100%, 0%, 0.25);
}

.boton::after {
  content: '';
  display: block;
  height: 20px;
  width: 20px;
  background: url(https://cdn-icons-png.flaticon.com/512/1656/1656456.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.boton:hover::after {
  content: '';
  display: block;
  height: 20px;
  width: 20px;
  background: url(https://cdn-icons-png.flaticon.com/512/1656/1656456.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.carrito {
  width: 18px;
}

/* Contenedor de todos los productos */
.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

#comprar {
  font-size: 13px;
}

#fondo {
  background-color: #406B3A;
  color: white;
}